.gameArea {
  height: 600px;
  width: 800px;
  border: 1px solid black;
  background-image: url("../images/background.png");
  background-size: contain;
}

.targets {
  height: 100px;
  width: 100px;
  margin-left: 50px;
  margin-bottom: 50px;
}
